
<footer class="linear-gradient ">
  <div style="display: flex;
  align-items: stretch;">

  
<div>
  <h3>INFORMATIONS</h3>
  <ul>
    <li>FAQ</li>
    <li>How to use this Website</li>
    <li>Contact Us</li>
    <li>About Us</li>
    <li>Privacy policy</li>
    <li>Terms & Condition</li>
     
  </ul>

</div>
<div style="margin-left: 50%;">
  <h3>Services</h3>
  <ul>
    <li>Architect</li>
    <li>IT</li>
    <li>Trainer</li>
    <li>Nursing</li>
    <li>Project management</li>
    <li>Medical assistant</li>
  </ul>
</div>
</div>




<div>
  <h4 style=" margin: auto;
  width: 50%;
  padding: 10px;"> <strong>Servicfy</strong> ALL RIGHTS RESERVED </h4>
  <hr>
</div>





  
</footer>
