.serviceify {
    font-size: 18px;
    font-weight: 700;
    color: #012970 !important ;
    margin-left: 2px
}

i {
    font-size: 18px;
}

a , a:hover {
    color: #4154f1 !important ;
    text-decoration: none;
    cursor: pointer;
}

.social-media > a  {
    color: #012970 !important ;
}

.serviceify:hover {
    font-size: 18px;
    text-decoration: none;
    color: #4154f1 !important ;
}