<nav *ngIf="!userService.isLogged(); else loggedHeader" class="navbar navbar-expand-lg navbar-light " style="margin:0 ; 
filter: drop-shadow(0px 1px 15px rgba(0, 0, 0, 0.05));">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home" style="color: #5A189A">Servicify</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" style="color: #5A189A;">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signup" style="color: #5A189A;">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" style="color: #5A189A;">login</a>
        </li>
        <li>
          <a class="nav-link" (click)="logout()" routerLink="login"> Logout </a>
        </li>
        <li>
           

        </li>
      </ul>
      <span class="navbar-text">

      </span>
    </div>
  </div>
</nav>
<ng-template #loggedHeader >
  <nav  class="navbar navbar-expand-lg navbar-light bg-light" style="margin:0">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <span class="navbar-brand mb-0 serviceify">Serviceify</span>
        <div class="collapse navbar-collapse" id="navbarText">
        </div>
        <form class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">
                <i class="bi bi-bell"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <i class="bi bi-gear"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" (click)="logout()" href="#" tabindex="-1" aria-disabled="true">
                <i class="bi bi-box-arrow-right"></i>
              </a>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </nav>
</ng-template>