<div class="wraper">
    <div class="side">
        <div class="container bg-body p-5 profile-card">
            <div class="top-container">
                <img [src]="user.image" class="img-fluid profile-image rounded-circle mx-3" width="70">
                <div class="ml-3">
                    <h5 class="name"> {{ user.username }} </h5>
                    <p class="mail"> {{ user.email }} </p>
                </div>
            </div>
            <hr class="my-3" />

            <div class="media">
                <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>
            </div>
        </div>
        <div class="container bg-body p-5 my-4">

        </div>
    </div>
    <div class="main">
        <div class="stat-container mb-5">
            <div class="card text-white  mb-2">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <p class="card-text">59</p>
                </div>
            </div>
            <div class="card text-white mb-2">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <p class="card-text">7.3</p>
                </div>
            </div>
            <div class="card text-white mb-2">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <p class="card-text">157</p>
                </div>
            </div>
            <div class="card text-white mb-2">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <p class="card-text">200</p>
                </div>
            </div>
        </div>
        <div class="container bg-body p-5 mb-5 nav-container ">
            <div>
                <a class="nav-link waves-effect waves-light" href="#">
                    <i class="fas fa-ticket-alt"></i> Tickets
                    <span class="sr-only">(current)</span>
                </a>
            </div>
            <div>
                <a class="nav-link waves-effect waves-light" href="#">
                    <i class="fas fa-envelope"></i> clients
                    <span class="sr-only">(current)</span>
                </a>
            </div>
            <div>
                <a class="nav-link waves-effect waves-light" href="#">
                    <i class="fas fa-envelope"></i> Reviews
                    <span class="sr-only">(current)</span>
                </a>
            </div>
        </div>
        <div class="container bg-body p-5">
            <div>
                <div>
                    <div>
                        <h2>list of tickets</h2>
                    </div>
                    <div class="row courses_row">
                        <div *ngFor="let ticket of tickets" class="col-lg-4 course_col">
                            <div class="course">
                                <app-ticket-card [ticket_child]="ticket"></app-ticket-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>