<div class="container" style="margin-top: 50px;">
    <form [formGroup]="signupform">
        <div class="row">
            <h4>Account</h4>
            <div class="input-group input-group-icon"><input type="text" 
                placeholder="Username" formControlName="username" />
                <div class="input-icon"><i class="fa fa-user"></i></div>
            </div>

            <div>
                <div *ngIf="signupform.controls['username'].invalid && 
                (signupform.controls['username'].touched || signupform.controls['username'].dirty) ">

                    <div *ngIf="signupform.controls['username'].errors.required"  class="alert alert-danger" role="alert">
                        username is required
                    </div>
                    
                </div>

                
            </div>



            <div class="input-group input-group-icon"><input type="email" formControlName="email"
                 placeholder="Email Adress" />
                <div class="input-icon"><i class="fa fa-envelope"></i></div>
            </div>
            
            <div>
                <div *ngIf="signupform.controls['email'].invalid && 
                (signupform.controls['email'].touched || signupform.controls['email'].dirty) ">

                    <div *ngIf="signupform.controls['email'].errors.required"  class="alert alert-danger" role="alert">
                        email is required
                    </div>
                    <div *ngIf="signupform.controls['email'].errors.email"  class="alert alert-danger" role="alert">
                        not a correct form
                    </div>
                </div>

                
            </div>

            <div class="input-group input-group-icon"><input type="tel"  formControlName="telephone"
                   placeholder="telephone" />
                <div class="input-icon"><i class="fa fa-key"></i></div>
            </div>
            <div class="input-group input-group-icon"><input type="password" formControlName="password"
                placeholder="Password" />
                <div class="input-icon"><i class="fa fa-key"></i></div>
            </div>

            <div>
                <div *ngIf="signupform.controls['password'].invalid && 
                (signupform.controls['password'].touched || signupform.controls['password'].dirty) ">

                    <div *ngIf="signupform.controls['password'].errors.required"  class="alert alert-danger" role="alert">
                        password is required
                    </div>
                    <div *ngIf="signupform.controls['password'].errors.minlength"  class="alert alert-danger" role="alert">
                        password must be at least 8 characters
                    </div>
                </div>

                
            </div>


        </div>
        <div class="row">
            <div class="col-half">
                <h4>Date of Birth</h4>
                <div class="input-group">
                    <div class="col-third"><input type="date" placeholder="date" style="width: fit-content;" formControlName="dob"/></div>
        
                </div>
            </div>
             
        </div>
        <!-- <div class="row">
            <h4>Payment Details</h4>
            <div class="input-group"><input id="payment-method-card" type="radio" name="payment-method" value="card" checked="true" /><label for="payment-method-card"><span><i class="fa fa-cc-visa"></i>Credit Card</span></label><input id="payment-method-paypal" type="radio" name="payment-method" value="paypal" /><label for="payment-method-paypal"> <span><i class="fa fa-cc-paypal"></i>Paypal</span></label></div>
            <div class="input-group input-group-icon"><input type="text" placeholder="Card Number" />
                <div class="input-icon"><i class="fa fa-credit-card"></i></div>
            </div>
            <div class="col-half">
                <div class="input-group input-group-icon"><input type="text" placeholder="Card CVC" />
                    <div class="input-icon"><i class="fa fa-user"></i></div>
                </div>
            </div>
            <div class="col-half">
                <div class="input-group"><select>
                        <option>01 Jan</option>
                        <option>02 Jan</option>
                    </select><select>
                        <option>2015</option>
                        <option>2016</option>
                    </select></div>
            </div>
        </div> -->
        <!-- <div class="row">
            <h4>Terms and Conditions</h4>
            <div class="input-group"><input id="terms" type="checkbox" /><label for="terms">I accept the terms and conditions for signing up to this service, and hereby confirm I have read the privacy policy.</label></div>
        </div>-->
        <div> 
            <button type="button" class="btn btn-primary" [disabled]="signupform.invalid" (click)="signup()" style="background-color: #5A189A;">Signup</button>
        </div>
        <div>
            <span style="margin-top: 20px;font-size: 34;position: relative;right: 25px;color: #5A189A;">
                allready have an account <a href="/app/login" >login here</a>
            </span>
        </div>
    </form>
</div>