<div class="wrapper">
    <form class="login" #loginform="ngForm" (ngSubmit)="login()">
      <p class="title">Log in</p>
      <input type="text" placeholder="Username" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}"autofocus/>
      <i class="fa fa-user"></i>
      <input type="password" placeholder="Password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}"/>
      <i class="fa fa-key"></i>
      <a href="#">Forgot your password?</a>
      <button (click)="login()" >
        <i class="spinner"></i>
        <span class="state">Log in</span>
      </button>
    </form>
    <footer><div style="color: #5A189A;"> don't have an account ?<a style="color: #22a5f1;" href="/signup">singup here</a> </div></footer>
    
  </div>