<div class="wrapper">
    <form class="login" [formGroup]="signinform" >
      <p class="title">Log in</p>
      <input type="text" placeholder="Username" formControlName="username" autofocus/>
      <i class="fa fa-user"></i>
      <input type="password" placeholder="Password" formControlName="password" />
      <i class="fa fa-key"></i>
      <a href="#">Forgot your password?</a>
      <button (click)="signin()" >
        <i class="spinner"></i>
        <span class="state">Log in</span>
      </button>
    </form>
    <footer><div style="color: #5A189A;"> don't have an account ?<a style="color: #22a5f1;" href="/signup">singup here</a> </div></footer>
    
  </div>