<div style="background-color: rgb(233, 212, 233);">

    <div>
        <img src="../../../assets/img/clark-young-fQxMGkYXqFU-unsplash.jpg" alt="Italian Trulli" height="500px">
        <div style="background-color: purple; position: absolute;top: 90px;right: 150px;max-height: 150px;max-width: 300px;" >
            <div class="card" >
                <div class="container">
                  <h4>
                      <b>are you in need of a rapid service and you don't want where to go or who to ask</b>
                  </h4>
                  <p>check our verified employees and find the perfect match for your service</p>
                  <button type="button"  class="btn btn-light" style="background-color: purple;">search employees</button>
                </div>
              </div>
              <div class="card" >
                <div class="container">
                  <h4><b>are you offering a service</b></h4>
                  <p>check your tickets send to you by clients</p>
                  <button type="button" class="btn btn-light  " routerLink="../ticket-list" style="background-color: purple;">see tickets</button>
                  
                </div>
              </div>
        </div>
    </div>
</div>