<div class="wraper">
    <div class="side container bg-body card">
        <div class="top-container"> <img [src]="user.image"
                class="img-fluid profile-image rounded-circle mx-3" width="70">
            <div class="ml-3">
                <h5 class="name"> {{ user.username }} </h5>
                <p class="mail"> {{ user.email }} </p>
            </div>
        </div>
        <div class="middle-container d-flex justify-content-between align-items-center mt-3 p-2">
            <div class="dollar-div px-3">
                <div class="round-div"><i class="fa fa-dollar dollar"></i></div>
            </div>
            <div class="d-flex flex-column text-right mr-2"> <span class="current-balance">Current Balance</span> <span
                    class="amount"><span class="dollar-sign">$</span>1476</span> </div>
        </div>
        <div *ngIf="!user.employee ; else dashboardLink" class="my-3">
            do you want to become a Worker? <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                class="btn btn-primary btn-sm"> Request now </button>
        </div>
        <ng-template #dashboardLink>
            <div class="my-3">
                switch to Worker profile ? <a type="button"
                [routerLink]="['worker/profile']"  class="btn btn-primary btn-sm"> Go to dashboard </a>
            </div>
        </ng-template>

        <div class="link-border mt-4"> <a class="link-span" [routerLink]="['/']" RouterLinkActive="link-active" > Home</a> </div>
        <div class="link-border mt-4"> <a class="link-span" [routerLink]="['/profile']" RouterLinkActive="link-active" > Profile</a> </div>
    </div>
    <div class="main container bg-body p-5">
        <div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                        type="button" role="tab" aria-controls="home" aria-selected="true"> Posts</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                        type="button" role="tab" aria-controls="profile" aria-selected="false"> Workers</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                        type="button" role="tab" aria-controls="contact" aria-selected="false">recommended</button>
                </li>
            </ul>
            <div  class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active p-5" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <app-post-form></app-post-form>
                        <app-post *ngFor="let post of posts" [post]="post"></app-post>
                </div>
                <div class="tab-pane fade p-5" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="search__container p-5">
                        <p class="search__title">
                            Go ahead, hover over search
                        </p>
                        <input class="search__input" [(ngModel)]="query" (change)="searchWorker()" type="text" placeholder="Search">
                    </div>
                    <app-worker-card *ngFor="let worker of search" [worker]="worker"></app-worker-card>
                </div>
                <div class="tab-pane fade p-5" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <app-worker-card *ngFor="let worker of recommended" [worker]="worker"></app-worker-card>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Request to be a worker</h5>
            </div>
            <form class="request" #requestform="ngForm" (ngSubmit)="requestRole()">
                <input type="text" placeholder="Job" [(ngModel)]="request.job" [ngModelOptions]="{standalone: true}"
                    autofocus />
                <i class="fa fa-user"></i>
                <input type="text" placeholder="Disponible" [(ngModel)]="request.disponible"
                    [ngModelOptions]="{standalone: true}" />
                <i class="fa fa-key"></i>
                <input type="text" placeholder="Description" [(ngModel)]="request.description"
                    [ngModelOptions]="{standalone: true}" />
                <i class="fa fa-key"></i>
                <div>
                    <button class="btn" (click)="requestRole()"> Request </button>
                </div>
            </form>
        </div>
    </div>
</div>