<div class="container">
    <div class="row">
        <div class="">
            <div class="card border-primary card-margin p-5">
                <form  #postform="ngForm" (ngSubmit)="postClient()" >
                    <fieldset>
                        <div class="form-group">
                            <label for="disabledTextInput"> Title </label>
                            <input  type="text" [(ngModel)]="post.title" name="title" [ngModelOptions]="{standalone: true}" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="disabledSelect"> Description</label>
                            <textarea type="text" [(ngModel)]="post.content" name="content" [ngModelOptions]="{standalone: true}" class="form-control" ></textarea>
                        </div>
                        <div>
                            <label for="exampleFormControlSelect1"> Categorie </label>
                            <select class="form-control" [(ngModel)]="post.cat"  name="cat" id="exampleFormControlSelect1">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                            </select>
                        </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>