<div class="container">
    <div class="row">
        <div class="">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title"></h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-success">
                                <span class="widget-49-date-day">22</span>
                                <span class="widget-49-date-month">apr</span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title"> {{ post.client.nom }} {{ post.client.prenom }}
                                </span>
                                <span class="widget-49-meeting-time"> {{ post.date_post }} </span>
                            </div>
                        </div>
                        <p class="pt-5 px-5"> {{ post.content }}</p>
                        <div class="widget-49-meeting-action">
                            <button type="button" class="btn btn-primary"> send ticket </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>