<div class="card">

  <div class="card-text">
    <div class="portada">

    </div>
    <div class="title-total">
      <div>
        <div class="title"> {{ worker.job | titlecase }} </div>
        <div class="top-container"> 
          <div class="img-container">
            <img [src]=" 'http://159.223.28.104' + worker.client.image" class="img-fluid profile-image rounded-circle mx-3" width="70">
          </div>
          <div class="ml-3">
            <h2>{{ worker.client.nom | titlecase }} {{ worker.client.prenom | titlecase }} </h2>
          </div>
        </div>
      </div>
      <div class="desc my-2 pa-5"> {{ worker.description }} </div>
      <div class="actions">
        <a class="btn btn-primary" [routerLink]="['/worker/profile', worker.id]" >Profile</a>
        <button class="btn btn-primary">Send ticket</button>
      </div>
    </div>

  </div>



</div>